<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>{{siteTitlePrefix}}{{title}}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carlito:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./../../style.css">
</head>
<body class="do-css-hover">
<header class="siteHeader siteHeader-mini fill-header-on-mobile">
    <div class="container">
        <div class="siteHeader__wrapper">
            <a href="./../../index.html#vacancies" class="siteHeader__logo">
                <img class="siteHeader__logo-full" src="./../../images/logo-full.png" alt="">
                <img class="siteHeader__logo-mini" src="./../../images/logo-mini.png" alt="">
            </a>
            <div class="siteSocials">
                <a href="https://vk.com/labsystech" class="siteSocials__item">
                    <img src="./../../images/vk-icon.png" alt="">
                </a>
            </div>
        </div>
    </div>
</header>

<div class="siteHeader siteHeader-mini siteHeader-fixed">
    <div class="container">
        <div class="siteHeader__wrapper">
            <a href="#" class="siteHeader__logo">
                <img class="siteHeader__logo-full" src="./../../images/logo-full.png" alt="">
                <img class="siteHeader__logo-mini" src="./../../images/logo-mini.png" alt="">
            </a>
            <div class="siteSocials">
                <a href="https://vk.com/labsystech" class="siteSocials__item">
                    <img src="./../../images/vk-icon.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>

<main>
    <div class="vacancySingle">
        <div class="container">
            <div class="vacancySingle__wrapper">
                <div class="vacancySingle__content">
                    <div class="vacancySingle__breadcrumbs breadcrumbs">
                        <a href="./../../index.html#vacancies">{{breadcrumbJobs}}</a>
                        <span><img src="./../../images/breadcrumbs-arrow.png" alt=""></span>
                        <span>{{title}}</span>
                    </div>
                    <div class="vacancySingle__header">
                        <div class="vacancySingle__header-box">
                            <div class="vacancySingle__header-icon">
                                    <span class="media-wrapper">
                                        <span class="img" style="background-image: url(./../../images/{{icon}});"></span>
                                    </span>
                            </div>
                            <div class="vacancySingle__header-descr">
                                <h1 class="vacancySingle__title block-title">
                                    {{title}}
                                </h1>
                                <p class="vacancySingle__subtitle">
                                    <img src="./../../images/icon-geo.png" alt="">
                                    <span>{{location}} {{experienceLabel}} {{experience}}</span>
                                </p>
                            </div>
                        </div>
                        <div class="vacancySingle__header-buttons">
                            <button class="active">{{jobDetailsButton}}</button>
                        </div>
                    </div>
                    <div class="vacancySingle__tabs">
                        <div class="vacancySingle__tabs-item">
                            <div class="vacancySingle__text">
                                <h2>{{tasksLabel}}</h2>
                                <ul>
                                    {{#each tasks}}
                                        <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                                <h2>{{requirementsLabel}}</h2>
                                <ul>
                                    {{#each requirements}}
                                        <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                                {{#if pluses}}
                                    <h2>{{plusesLabel}}</h2>
                                    <ul>
                                        {{#each pluses}}
                                            <li>{{this}}</li>
                                        {{/each}}
                                    </ul>
                                {{/if}}
                                <h2>{{offerLabel}}</h2>
                                <ul>
                                    {{#each offer}}
                                        <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                        <div class="vacancySingle__tabs-item">
                            <h2 class="block-title">{{contactUsLabel}}</h2>
                            <form class="vacancySingle__form" onsubmit="sendEmail(event)">
                                <input type="email" class="input-style" id="email" placeholder="{{emailPlaceholder}}" required>
                                <input type="text" class="input-style" id="name" placeholder="{{namePlaceholder}}" required>
                                <textarea class="input-style" id="message" placeholder="{{messagePlaceholder}}"></textarea>
                                <button class="button" type="submit">{{submitButton}}</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="vacancySingle__sidebar">
                    <button class="vacancySingle__sidebar-apply button">{{applyButton}}</button>
                    <p class="vacancySingle__sidebar-word">{{orText}}</p>
                    <div class="vacancySingle__sidebar-box">
                        <button target="_blank" onclick="window.open('https://hh.ru/employer/2634665', '_blank')">
                            <img src="./../../images/hh-icon.png" alt="">
                            <span>{{hhApplyButton}}</span>
                        </button>
                    </div>
                    <button class="vacancySingle__sidebar-share">{{shareButton}}</button>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="siteNav">
    <div class="siteNav__wrapper">
        <a class="siteNav__item" href="./../../index.html#aboutCompany">
            <img class="icon" src="./../../images/menu-item-icon-01.png" alt="">
            <img class="text" src="./../../images/ru.menu-item-text-01.png" alt="">
        </a>
        <a class="siteNav__item" href="./../../index.html#workingInfo">
            <img class="icon" src="./../../images/menu-item-icon-02.png" alt="">
            <img class="text" src="./../../images/ru.menu-item-text-02.png" alt="">
        </a>
        <a class="siteNav__item" href="./../../index.html#companyGames">
            <img class="icon" src="./../../images/menu-item-icon-03.png" alt="">
            <img class="text" src="./../../images/ru.menu-item-text-03.png" alt="">
        </a>
        <a class="siteNav__item" href="./../../index.html#vacancies">
            <img class="icon" src="./../../images/menu-item-icon-04.png" alt="">
            <img class="text" src="./../../images/ru.menu-item-text-04.png" alt="">
        </a>
        <a class="siteNav__item" href="./../../index.html#siteFaq">
            <img class="icon" src="./../../images/menu-item-icon-05.png" alt="">
            <img class="text" src="./../../images/ru.menu-item-text-05.png" alt="">
        </a>
    </div>
</div>

<div class="shareLink">
    <div class="shareLink__wrapper">
        <div class="shareLink__close"><img src="./../../images/share-close.png" alt=""></div>
        <p class="shareLink__title center">{{shareVacancyTitle}}</p>
        <div class="shareLink__copyLink">
            <p class="shareLink__copyLink-title shareLink__subtitle">{{linkLabel}}</p>
            <div class="shareLink__copyLink-label">
                <p>{{shareLinkText}}</p>
                <div class="shareLink__copyLink-icon">
                    <img class="default" src="./../../images/icon-copy.png" alt="">
                    <img class="check-mark" src="./../../images/check-mark.png" alt="">
                </div>
            </div>
        </div>
        <p class="shareLink__subtitle">{{shareText}}</p>
        <div class="shareLink__socials">
            <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://labystech.ru" target="_blank">
                <img src="./../../images/linkedin.png" alt="LinkedIn">
            </a>
            <a href="https://wa.me/?text={{shareVacancyTitle}}%20-%20{{shareLinkText}}" target="_blank">
            <img src="./../../images/whatsapp.png" alt="WhatsApp">
            </a>
            <a href="https://t.me/share/url?url=https://labystech.ru&text={{shareVacancyTitle}}%20-%20{{shareLinkText}}" target="_blank">
            <img src="./../../images/tg.png" alt="Telegram">
            </a>
            <a href="https://twitter.com/intent/tweet?text={{shareVacancyTitle}}%20-%20{{shareLinkText}}" target="_blank">
            <img src="./../../images/twitter.png" alt="Twitter (X)">
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://labystech.ru" target="_blank">
                <img src="./../../images/fb.png" alt="Facebook">
            </a>
            <a href="mailto:?subject={{shareVacancyTitle}}&body={{shareLinkText}}" target="_blank">
            <img src="./../../images/mail.png" alt="Email">
            </a>
        </div>
    </div>
</div>

<script src="./../../assets/js/jquery-3.7.0.min.js"></script>
<script src="./../../assets/js/jquery.nice-select.min.js"></script>
<script src="./../../assets/js/script.js"></script>
<script>
    function sendEmail(event) {
        event.preventDefault();
        var email = document.getElementById("email").value;
        var name = document.getElementById("name").value;
        var message = document.getElementById("message").value;
        var subject = encodeURIComponent("Заявка на вакансию  {{title}} от " + name);
        var body = encodeURIComponent("Имя: " + name + "\nEmail: " + email + "\n\nСообщение:\n" + message);
        var mailtoLink = "mailto:job@labsystech.ru?subject=" + subject + "&body=" + body;
        window.location.href = mailtoLink;
    }
</script>
</body>
</html>
